[submodule "tutor-37-Foundry/lib/forge-std"]
	path = tutor-37-Foundry/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "tutor-55-Foundry-FuzzyTest/lib/forge-std"]
	path = tutor-55-Foundry-FuzzyTest/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "tutor-60-NapSpec/lib/forge-std"]
	path = tutor-60-NapSpec/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "tutor-62-ERC3156/lib/forge-std"]
	path = tutor-62-ERC3156/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "tutor-63-Forge-practice/lib/forge-std"]
	path = tutor-63-Forge-practice/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
